.splitter {

    &__main {
        margin-top: 2rem;
        width: auto;
        display:none;
        flex-direction: column;
        align-items: center;
    }

    &__button {
        display:flex;
        flex-direction: column;
    }



}